p{
    color: black;
    font-size: 19px
}
h1{ color:rgb(92, 29, 150);
}
h2{ 
    color:rgba(22, 21, 21, 0.858)
}
h3{ 
    color:rgb(6, 6, 126);
}
 .flex-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
 }
.flex-item {
    padding: 10px;
    background-color: rgb(234, 228, 190);
    margin: 9px;
    border: 1px solid bisque;
    border-radius: 5px;
}
